body {
    font-family: Arial, sans-serif;
    background-color: #8255e9;
    padding: 20px;
}

h2 {
    color: #333;
}

.resultParas p {
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
}

.guessSubmit {
    margin-top: 10px;
}
